In [1]:
#https://www.kaggle.com/code/ashydv/sales-prediction-simple-linear-regression
from sklearn import linear_model
# Import the numpy and pandas package
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import matplotlib.pyplot as plt
#import pandas_datareader.data as web
import seaborn as sns
import pandas as pd
import os.path
import numpy as np
from scipy.stats import spearmanr
import time
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import (mean_squared_error,
                             mean_absolute_error,
                             mean_squared_log_error, 
                             median_absolute_error, 
                             explained_variance_score, 
                             r2_score)

In [11]:
start_time = time.time()

advertising = pd.DataFrame(pd.read_csv("advertising.csv"))
advertising.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [3]:
advertising.shape

(200, 4)

In [4]:
advertising.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [5]:
print(advertising.isnull().sum())

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [6]:
names = advertising.columns
scaler = StandardScaler()
# Fit your data on the scaler object
scaled_df = scaler.fit_transform(advertising)
scaled_df = pd.DataFrame(advertising, columns=names)
print(scaled_df.head())

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [7]:
X = advertising.drop("Sales", axis=1)
# Our descriptive feature
print("X.describe()")
print(X.describe())

y = scaled_df['Sales']
print(y.describe())

X.describe()
               TV       Radio   Newspaper
count  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000
std     85.854236   14.846809   21.778621
min      0.700000    0.000000    0.300000
25%     74.375000    9.975000   12.750000
50%    149.750000   22.900000   25.750000
75%    218.825000   36.525000   45.100000
max    296.400000   49.600000  114.000000
count    200.000000
mean      15.130500
std        5.283892
min        1.600000
25%       11.000000
50%       16.000000
75%       19.050000
max       27.000000
Name: Sales, dtype: float64

In [8]:
print("\nLet's build our Linear regression Model\n")

X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.20, random_state=1)

print("\n(X_train.head())\n")
print("======================")
print(X_train.head())

regression = linear_model.LinearRegression()
regression.fit(X_train, Y_train)

Let's build our Linear regression Model


(X_train.head())

======================
        TV  Radio  Newspaper
108   13.1    0.4       25.6
107   90.4    0.3       23.2
189   18.7   12.1       23.4
14   204.1   32.9       46.0
56     7.3   28.1       41.4

LinearRegression()

In [9]:
print("Model Evaluation")
print("R-squared: %.3f" % regression.score(X_test, Y_test))
Y_pred = regression.predict(X_test)
print("Mean squared error: %.3f" % mean_squared_error(Y_test, Y_pred))  # Test MSE
print("Mean absolute error: %.3f" % mean_absolute_error(Y_test, Y_pred))

end_time = time.time()
time_taken = end_time - start_time
time_taken_ms = (time_taken) * 1000
print(f"Time taken for the pipeline execution: {time_taken_ms:.2f} milliseconds, {time_taken:.4f} seconds")

Model Evaluation
R-squared: 0.875
Mean squared error: 2.409
Mean absolute error: 1.275
Time taken for the pipeline execution: 238.03 milliseconds, 0.2380 seconds

In [10]:
regression.predict(np.array([[230,37.5,70.5]]))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([21.10789403])