In [66]:
#https://www.kaggle.com/code/ashydv/sales-prediction-simple-linear-regression
from sklearn.preprocessing import LabelEncoder
from sklearn import linear_model
# Import the numpy and pandas package
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import matplotlib.pyplot as plt
#import pandas_datareader.data as web
import seaborn as sns
import pandas as pd
import os.path
import numpy as np
from scipy.stats import spearmanr
import time
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import (mean_squared_error,
                             mean_absolute_error,
                             mean_squared_log_error, 
                             median_absolute_error, 
                             explained_variance_score, 
                             r2_score)

In [67]:
start_time = time.time()

data = pd.DataFrame(pd.read_csv("taxi-fare-full.csv"))
data.head()

,vendor_id,rate_code,passenger_count,trip_time_in_secs,trip_distance,payment_type,fare_amount
0,CMT,1,1,1271,3.8,CRD,17.5
1,CMT,1,1,474,1.5,CRD,8.0
2,CMT,1,1,637,1.4,CRD,8.5
3,CMT,1,1,181,0.6,CSH,4.5
4,CMT,1,1,661,1.1,CRD,8.5

In [68]:
data.describe()

,rate_code,passenger_count,trip_time_in_secs,trip_distance,fare_amount
count,200000.00000,200000.000000,200000.000000,200000.000000,200000.000000
mean,1.03336,1.869280,681.769010,2.748261,11.639193
std,0.28021,1.550646,487.215898,3.233450,10.175079
min,0.00000,0.000000,0.000000,0.000000,2.500000
25%,1.00000,1.000000,360.000000,1.000000,6.500000
50%,1.00000,1.000000,554.000000,1.700000,9.000000
75%,1.00000,2.000000,885.000000,3.050000,13.000000
max,6.00000,6.000000,9771.000000,97.800000,470.000000

In [69]:
print(data.isnull().sum())

vendor_id            0
rate_code            0
passenger_count      0
trip_time_in_secs    0
trip_distance        0
payment_type         0
fare_amount          0
dtype: int64

In [75]:
label_encoder = LabelEncoder()
data['vendor_id'] = label_encoder.fit_transform(data['vendor_id'])
data['payment_type'] = label_encoder.fit_transform(data['payment_type'])

names = ['trip_time_in_secs', 'trip_distance']
scaler = StandardScaler()
data[names] = scaler.fit_transform(data[names])

print(data.head())

   vendor_id  rate_code  passenger_count  trip_time_in_secs  trip_distance  \
0          0          1                1           1.209387       0.325269
1          0          1                1          -0.426442      -0.386047
2          0          1                1          -0.091888      -0.416974
3          0          1                1          -1.027820      -0.664388
4          0          1                1          -0.042628      -0.509754

   payment_type  fare_amount
0             0         17.5
1             0          8.0
2             0          8.5
3             1          4.5
4             0          8.5

In [71]:
X = data.drop("fare_amount", axis=1)
# Our descriptive feature
print("X.describe()")
print(X.describe())

y = data['fare_amount']
print(y.describe())

X.describe()
           vendor_id     rate_code  passenger_count  trip_time_in_secs  \
count  200000.000000  200000.00000    200000.000000       2.000000e+05
mean        0.585820       1.03336         1.869280       9.312801e-16
std         0.492581       0.28021         1.550646       1.000003e+00
min         0.000000       0.00000         0.000000      -1.399320e+00
25%         0.000000       1.00000         1.000000      -6.604255e-01
50%         1.000000       1.00000         1.000000      -2.622438e-01
75%         1.000000       1.00000         2.000000       4.171282e-01
max         1.000000       6.00000         6.000000       1.865549e+01

       trip_distance  payment_type
count   2.000000e+05  200000.00000
mean   -1.479067e-16       0.48008
std     1.000003e+00       0.51204
min    -8.499490e-01       0.00000
25%    -5.406810e-01       0.00000
50%    -3.241935e-01       0.00000
75%     9.331823e-02       1.00000
max     2.939646e+01       4.00000
count    200000.000000
mean         11.639193
std          10.175079
min           2.500000
25%           6.500000
50%           9.000000
75%          13.000000
max         470.000000
Name: fare_amount, dtype: float64

In [72]:
print("\nLet's build our Linear regression Model\n")

X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.20, random_state=1)

print("\n(X_train.head())\n")
print("======================")
print(X_train.head())

regression = linear_model.LinearRegression()
regression.fit(X_train, Y_train)

Let's build our Linear regression Model


(X_train.head())

======================
        vendor_id  rate_code  passenger_count  trip_time_in_secs  \
34297           1          1                6          -0.537277
148120          1          1                1           1.556256
16583           1          1                5          -0.537277
197713          1          1                5          -0.290979
193997          1          1                1           1.433107

        trip_distance  payment_type
34297       -0.497384             0
148120       2.044799             1
16583       -0.540681             0
197713      -0.491198             1
193997       0.408772             0

LinearRegression()

In [73]:
print("Model Evaluation")
print("R-squared: %.3f" % regression.score(X_test, Y_test))
Y_pred = regression.predict(X_test)
print("Mean squared error: %.3f" % mean_squared_error(Y_test, Y_pred))  # Test MSE
print("Mean absolute error: %.3f" % mean_absolute_error(Y_test, Y_pred))

end_time = time.time()
time_taken = end_time - start_time
time_taken_ms = (time_taken) * 1000
print(f"Time taken for the pipeline execution: {time_taken_ms:.2f} milliseconds, {time_taken:.4f} seconds")

Model Evaluation
R-squared: 0.741
Mean squared error: 28.310
Mean absolute error: 0.913
Time taken for the pipeline execution: 557.63 milliseconds, 0.5576 seconds

In [76]:
regression.predict(np.array([[0,1,1,1.209387,0.325269,0]]))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([16.74787941])